.super-mario {
  width: 200px;
  margin-left: 50px;
}
.goomba {
  width: 100px;
  margin-left: 100px;

}

.fala {
  display: flex;
}

.baloon {
  position: absolute;
  right: 800px;
  bottom: 250px;
  

}

.speach {
  font-size: 25px;
  position: absolute;
  right: 830px;
  bottom: 320px;
  z-index: 1;
  
}

.bowser {
  width: 300px;
  position: absolute;
  right: 500px;
  
}